<div class="jumbotron mt-4 text-center">
    <h2>Noteando is your note-taking app</h2>
    <br>
    <h2>Always in sync with all your devices anywhere in the world </h2>
    <br>
    <h2>Simple and FREE</h2>
    <br>
    <hr class="my-4">
    <br>
    <h2>We think you’ll love Noteando</h2>
    <a href="/users/signup" class="btn btn-primary btn-lg mx-auto text-center"> Get started</a>
</div>