<div class="jumbotron mt-4">
    <h1 class="display-4"> Noteando is a Notes App with Nodejs and Mongo db</h1>
    <p>Noteando is your note-taking app</p>
    <p>Always in sync with all your devices anywhere in the world </p>
    <p>Simple and free</p>
    <hr class="my-4">
    <p>We think you’ll love Noteando</p>
    <a href="/users/signup" class="btn btn-primary btn-lg mx-auto"> Get started</a>

</div>