<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App with Nodejs and Mongo db</h1>
    <p>lorem ipsum dolor sit amet, consectet ut labore et dolore magna aliqu et lorem ipsum dolor sit amet, consectet ut labore et dolore magna aliqu et </p>
    <a href="http://google.com" class="btn btn-primary btn-lg"> APRETAR</a>
</div>