<div class="jumbotron mt-4">
    <h3>Noteando is your note-taking app</h3>
    <h3>Always in sync with all your devices anywhere in the world </h3>
    <h3>Simple and free</h3>
    <hr class="my-4">
    <h3>We think you’ll love Noteando</h3>
    <a href="/users/signup" class="btn btn-primary btn-lg mx-auto"> Get started</a>

</div>